a:link{
    text-decoration: none;
    color: black;
}
a:visited{
    color:black;
}

.main-nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    background-color:aliceblue;
}

nav{
    display: flex;
    justify-content: end;
    gap: 20%;
}

#logo{
    font-size: xx-large;
}
