a:link{
    text-decoration: none;
}
/*Kommentar*/
.main-nav{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

nav{
    display: flex;
    justify-content: end;
    gap: 20%;
}

#logo{
    font-size: xx-large;
}
