.main h1 {
    font-size: 2.25vw;
}

.group-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.25vh;
    margin-bottom: 2.5vh;
}

.btn-heading{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1vh;
}

#edit-button {
    display: none;
    padding: 0;
    border: none;
    cursor: pointer;
    background: none;
}

#edit-button img {
    width: 2.6vw;
    height: auto;
}

.group-members {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 2.5vh;
    border: 2px solid black;
    border-radius: 1.5vw;
    margin-bottom: 2.5vh;
}

.group-members h2 {
    font-size: 1.8vw;
    margin-bottom: 1vh;
}

.group-members-list {
    list-style-type: none;
    padding: 0;
    flex: 1;
}

.group-members-list li {
    font-size: 2.5vh;
    margin-bottom: 1vh;
    display: flex;
    align-items: center;
}

.group-members-list img {
    margin-right: 1vh;
    width: 2vw;
    height: auto;
    background: none;
}

.group-members-list span {
    flex: 1;
}

#add-member-btn:hover {
    background-color: #04310d;
}

.square {
    background-color: #064412;
    padding: 2.5vh;
    border-radius: 4vh;
    width: 35vh;
    height: 10vh;
    margin: 4.5vh;
    display: flex;
    grid-area: main;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.square:hover {
    background-color: #04310d;
    cursor: pointer;
}

.square:active{
    transform: scale(0.95);
}


.square-content {
    color: white;
    font-size: 1.8vw;
    font-weight: bold;
}

.group-functionalities {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 1.25vh;
    margin-bottom: 2.5vh;
}

/* Elements specific to groupSettings.html */

/* Style for the member list container */
.member-list {
    display: flex;
    flex-direction: column;
    align-items: start;
}

/* Style for individual members in the list */
.member-list li {
    display: flex;
    align-items: center;
    height: 9vh;
    width: 50vw;
    margin: 2.5vh 2.5vh 2.5vh 2.5vh;
    background: #80AB82;
    border-radius: 30px;
}

/* Style for the name of the member*/
.member-list span {
    margin-left: 2.5vh;
    font-size: 2.25vw;
    font-weight: bold;
    flex: 1;
}

/* Style for member images */
.member-list img {
    margin-left: 1vw;
    width: 2vw;
    height: auto;
    background: none;
}
/* Style for the delete member button for each list entry */
button.delete-member-button {
    background-color: #064412;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 3vh;
    width: 8vw;
    height: 5vh;
    padding: 1.25vh 2.5vh;
    font-size: 2vh;
    margin-left: 1vw;
    margin-right: 1vw;
    cursor: pointer;
    float: right;
}
button.delete-member-button:hover {
    background-color: #04310d;
}

/* Style for the dropdown menu */
.role-dropdown {
    padding: 1.25vh;
    font-size: 0.9vw;
    border-radius: 1.5vw;
    background-color: #fff;
    width: 15vw;
    height: 5vh;
}

/* Style for add member button */
#add-member-btn {
    background-color: #064412;
    color: #fff;
    border: none;
    padding: 1.25vh 2.5vh;
    font-size: 1.3vw;
    cursor: pointer;
    font-weight: bold;
    border-radius: 1.5vw;
    margin: 1.25vh;
}

/******************************** MODAL STYLE ADDING MEMBERS *****************************************/

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

/* Styling for the search for members to add modal */
.modal {
    position: fixed;
    display:none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Styling for the modal content */
.modal-content {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 1.5vw;
    padding: 3vw;
    width: 40vw;
    height: 50vh;
    text-align: center;
    box-shadow: 0 2px 1.5vw rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

/* Styling for the search input within the modal */
#search-input {
    width: 90%;
    padding: 1.5vw;
    border: 1px solid #000000;
    border-radius: 1.5vw;
    margin-bottom: 2vw;
}

/* Styling for the member suggestions list within the modal */
.member-suggestions {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0.75vw;
}

/* Styling for individual member suggestion entries within the list */
.member-suggestions li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2vh;
    margin-bottom: 0.75vw;
    padding: 2.5vw;
    background-color: #80AB82;
    border-radius: 1.5vw;
    box-shadow: 0 1.5vw 3.75vw rgba(0, 0, 0, 0.1);
}

/* Styling for member images within the member suggestions */
.member-suggestions img {
    width: 1.5vw;
    height: auto;
    background-color: #80AB82;
}


/* Styling for the "Add" button's icon within the member suggestions */
.add-member-btn2 img {
    width: 3vw;
    height: auto;
    cursor: pointer;
    background-color: #80AB82;
}

/* Style for the "Slett gruppe" button */
#delete-group {
    display: none;
    background-color: #064412;
    color: white;
    border: none;
    height: 7.5vh;
    width: 10.4vw;
    border-radius: 1.5vw;
    cursor: pointer;
    font-weight: bolder;
}

#delete-group:hover {
    background-color: #04310d;
}

/* Style for the "Forlat gruppe" button */
#leave-group{
    display: block;
    background-color: #064412;
    color: white;
    border: none;
    border-radius: 1.5vw;
    cursor: pointer;
    font-size: 1.3vw;
    font-weight: bold;
    padding: 1.25vh 2.5vh;
}

#leave-group:hover {
    background-color: #04310d;
}
