#new-group-popup{
    display:none;
    position: relative;
    border: 10px solid #000000;
    background-color:palevioletred;
    grid-area: main;
}

#btn-image{
    width: 100px;
    height: auto;
}

.groups-container{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:start;
    flex-grow: 1;
}

#group-block{
    border: 2px solid black;
    margin: 10px;
    width: 200px;
    height: 200px;
}

#group-created-popup{
    display:none;
    position: relative;
    border: 10px solid #000000;
    background-color:palevioletred;
    grid-area: main;
}