.container{
    grid-area:main;
    display: grid;
    border:none;
    gap: 10px;
    grid-template-areas:
    "mandag tirsdag onsdag"
    "torsdag fredag lordag"
    ". sondag .";
}

#mandag{
    grid-area: mandag;
    height:10em;
    border: 2px solid black;
}
#tirsdag{
    grid-area: tirsdag;
    height:10em;
    border: 2px solid black;
}
#onsdag{
    grid-area: onsdag;
    height:10em;
    border: 2px solid black;
}
#torsdag{
    grid-area: torsdag;
    height:10em;
    border: 2px solid black;
}
#fredag{
    grid-area: fredag;
    height:10em;
    border: 2px solid black;
}
#lordag{
    grid-area: lordag;
    height:10em;
    border: 2px solid black;
}
#sondag{
    grid-area: sondag;
    height:10em;
    border: 2px solid black;
}

.dinner-popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
}

.dinner-content {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 3px solid #777777;
    width: 40%;
    height: auto;
    font-weight: bolder;
}

#close-dinner-popup {
    float: right;
    display: inline;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
}

.close-svg {
    width: 40px;
    filter: invert(78%) sepia(10%) saturate(22%) hue-rotate(14deg) brightness(88%) contrast(86%);
}

.close-svg:hover {
    filter: invert(12%) sepia(75%) saturate(5744%) hue-rotate(358deg) brightness(88%) contrast(116%);
}