div{
    border: 2px solid black;
}

.container{
    grid-area:main;
    display: grid;
    border:none;
    gap: 10px;
    grid-template-areas:
    "mandag tirsdag onsdag"
    "torsdag fredag lordag"
    ". sondag .";
}

#mandag{
    grid-area: mandag;
    height:10em;
}
#tirsdag{
    grid-area: tirsdag;
    height:10em;
}
#onsdag{
    grid-area: onsdag;
    height:10em;
}
#torsdag{
    grid-area: torsdag;
    height:10em;
}
#fredag{
    grid-area: fredag;
    height:10em;
}
#lordag{
    grid-area: lordag;
    height:10em;
}
#sondag{
    grid-area: sondag;
    height:10em;
}