.single-recipe-wrapper {
    margin: 0 auto;
    width: 80%;
    height: auto;
    background: #DDDDDD;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #777777;
    display: grid;
    grid-template-areas:
        "recipe-header recipe-header"
        "recipe-content recipe-image";
}

.recipe-header{
    grid-area: recipe-header;
    margin-top: 30px;
    background: #DDDDDD;
}
#recipe-name{
    font-size: 40px;
    font-weight: bold;
    margin: 3px;
    padding: 0;
    display: inline;
    width: 20%;
}

#edit-recipe-btn {
    float: right;
    display: none;
}
#edit-recipe-btn img{
    margin-right: 10px;
    border: none;
    padding: 1px 1px;
    cursor: pointer;
    width: 30px;
    transition: 0.3s;
}

#edit-recipe-btn img:hover {
    transition: 0.3s;
    filter: invert(47%) sepia(71%) saturate(12%) hue-rotate(320deg) brightness(86%) contrast(87%);
}

#recipe-image {
    grid-area: recipe-image;
}

#recipe-image img {
    float: right;
    margin: 10px;
    width: 50%;
    height: auto;
}

.single-recipe-content {
    grid-area: recipe-content;
    margin-top: 30px;
    background: #DDDDDD;
    font-size: 30px;
    width: fit-content;
}

.single-recipe-content a {
    color: #000000;
    transition: 0.3s;
    text-decoration: none;
}

.single-recipe-content a:hover {
    color: #007bff;
    transition: 0.3s;
    text-decoration: none;
}

.single-recipe-content li {
    margin-left: 80px;
    padding: 0;
}

ul {
    list-style-type: none;
}

